<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
         $.ajaxSetup({  
            async : false  
            }); 
        function change_check(ths) {
            ths.src = "/check_number?a=" + Math.ceil(Math.random() * 1000);
        }


        function submit() {
            var is_ = true;
            var uname = $("#name").val();
            var em = $("#email").val();
            var ps = $("#password").val();
            var ps2 = $("#passtwo").val();
            var cnum = $("#checknumber").val();
            if (uname == "") {
                $("#ico_name").text("用户名不能为空");
                is_ = false;
            }
            else
            {
                $("#ico_name").text("");
            }
            

            if(ps=="")
            {
                $("#ico_password").text("密码不能为空");
                is_ = false;
            }
            else
            {
                $("#ico_password").text("");
            }   
            if (cnum != "") {
                $.get("check_num?checknum=" + cnum, function (data, status) {
                    if (status) {
                        if (data == '1') {
                            $("#ico_check").attr("class", "glyphicon glyphicon-ok");
                            $("#ico_check").text("");
                        }
                        else {
                            $("#ico_check").attr("class", "");
                            $("#ico_check").text("验证码错误，看不清可点击验证码图片更换");
                            is_ = false;
                        }
                    }
                    else {
                        alert("网络出现问题，无法查询验证码");
                        $("#ico_check").attr("class", "");
                        $("#ico_check").text("");
                        is_ = false;    
                    }
                });
            }
            else
            {
                $("#ico_check").attr("class", "");
                $("#ico_check").text("验证码不能空");
                is_ = false;
            }
            if(is_)
            {
                $("#login_form").submit();
            }


        }
    </script>
    <title>用户登录</title>
</head>

<body>
    {% include 'head.html'%}
    {% load static %}
    <div class="container">

        <div class="col-md-6 col-md-offset-3">
            <h2 style="text-align: center; margin-top:45px;">用户登陆</h2>
            <h2 style="text-align: center; margin-top:45px;color:#f00">{{error}}</h2>
            <form id="login_form" class="form-horizontal" role="form" action="#" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="请输入用户名">
                    </div>
                    <div class="col-sm-3">
                        <span id="ico_name" class="" style="color:#f00;"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">密码：</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" name="password" placeholder="6-30和字符，不能出现特殊字符">
                    </div>
                    <div class="col-sm-3">
                            <span id="ico_password" style="color:#f00;"></span>
                    </div>
                </div>


                <div class=" form-group">
                    <div class=" col-sm-6 col-sm-offset-3">
                        <input id="xieyi" type="checkbox" name="remember">记住我
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">验证码：</label>
                    <div class="col-sm-3">
                        <input type="text" name="checknumber" class="form-control" id="checknumber" >
                    </div>
                    <div class="col-sm-3">
                        <img src="/check_number" alt="" height="30px" onclick="change_check(this)">
                    </div>
                    <div class="col-sm-3">
                        <span id="ico_check" class="" style="color:#f00;"></span>
                    </div>
                </div>

            </form>
            <button class="btn col-sm-offset-3" onclick="submit()">提交</button>
        </div>
    </div>
</body>

</html>